{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <!--Top Side-->
    <div class="container">
        <div class="row mt-4">
            
            <!--End Left Top Side-->
  
            <!--Right Top Side-->
            <div class="container">
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                Information
                            </div>
                            <div class="card-body">
                                <marquee behavior="" direction="">
                                    <h3 class="my-4">
                                        Welcome {{user.username}}
                                    </h3>
                                </marquee>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                Menu
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="text-decoration-none text-dark" href="{% url 'staff' %}">
                                            <div class="card my-card shadow text-center p-3">
                                                <h4>
                                                    Employees <i class="fas fa-users"></i>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="text-decoration-none text-dark" href="{% url 'products' %}">
                                            <div class="card my-card shadow text-center p-3">
                                                <h4>
                                                    Inventory <i class="fas fa-box"></i>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="text-decoration-none text-dark" href="{% url 'metadata' %}">
                                            <div class="card my-card shadow text-center p-3">
                                                <h4>Reports <i class="fas fa-shipping-fast"></i></h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Right Top Side-->
  
        </div>
    </div>
    <!--End Top Side-->
    <!--Table-->
    
        
            <div class="container">
                <div class="row my-4">
                    <div class="col-md-3">
                        <h3> Fields </h3>
                        <a href="?group_by=editable">
                            <button type="button" class="btn btn-primary">
                                Editable Fields
                            </button>
                        </a><br><br>
                        <a href="?group_by=noneditable">
                            <button type="button" class="btn btn-primary">
                                Non-Editable Fields
                            </button>
                        </a> <br><br>   
                        <a href="?group_by=all">
                            <button type="button" class="btn btn-primary">
                                All fields
                            </button>
                        </a><br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupFormModal1">
                            New Field
                        </button><br><br>

                        <hr><br>
                        <h3>Firmware</h3>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popupFormModal2">
                            New Firmware
                        </button><br><br>
                        <button type="button" class="btn btn-primary">
                            All Firmware
                        </button><br><br>

                        <div class="modal fade" id="popupFormModal1" tabindex="-1" role="dialog" aria-labelledby="popupFormModalLabel1" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="popupFormModalLabel1">New Field</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Your form goes here -->
                                        <form method="post" >
                                            {% csrf_token %}
                                            {{ fieldForm|crispy }}
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" name="fieldForm" class="btn btn-primary">Submit</button>
                                        <!-- Add an additional button if needed -->
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="popupFormModal2" tabindex="-1" role="dialog" aria-labelledby="popupFormModalLabel2" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="popupFormModalLabel2">New Firmware</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Your form goes here -->
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ fileForm|crispy }}
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" name="fileForm " class="btn btn-primary">Submit</button>
                                        <!-- Add an additional button if needed -->
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <h3>Upload File</h3>
                        <form method="post" >
                            {% csrf_token %}
                            {{ fileForm }}
                            <button type="submit">Upload</button>
                        </form>
                        <br><br>
                        <h3>New Field</h3>
                        <form method="post" >
                            {% csrf_token %}
                            {{ fieldForm }}
                            <button type="submit">Add</button>
                        </form> -->
                    </div>
                    <div class="col-md-9">     
                        <table class="table bg-white">
                            <thead class="bg-primary">
                                <tr class="text-white">
                                    <th scope="col">Device Name</th>
                                    <th scope="col">Channel Id</th>
                                    <th scope="col">Firmware Version</th>
                                    {% for field in fields %}
                                        <th scope="col">{{ field.field_name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for firmware_update in firmware_update_data %}
                                    <tr>
                                        <td>{{ firmware_update.device_name }}</td>
                                        <td>{{ firmware_update.channel_id }}</td>
                                        <td>{{ firmware_update.firmware_version }}</td>
                                        {% for field in firmware_update.fields %}
                                            <td>{{ field.value }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script>
                // JavaScript to handle the form submission inside the modal
                const form1SubmitButton = document.querySelector('#popupFormModal1 button[name="fieldForm"]');
                const form2SubmitButton = document.querySelector('#popupFormModal2 button[name="fileForm "]');
                form1SubmitButton.addEventListener('click', function () {
                    // Submit the form when the "Submit" button is clicked
                    document.querySelector('#popupFormModal1 form').submit();
                });
                form2SubmitButton.addEventListener('click', function () {
                    // Submit the form when the "Submit" button is clicked
                    document.querySelector('#popupFormModal2 form').submit();
                });
            </script>
{% endblock%}