{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <!--Top Side-->
    <div class="container">
        <div class="row mt-4">
            
            <!--End Left Top Side-->
  
            <!--Right Top Side-->
            <div class="container">
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                Information
                            </div>
                            <div class="card-body">
                                <marquee behavior="" direction="">
                                    <h3 class="my-4">
                                        Welcome {{user.username}}
                                    </h3>
                                </marquee>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                Menu
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="text-decoration-none text-dark" href="{% url 'staff' %}">
                                            <div class="card my-card shadow text-center p-3">
                                                <h4>
                                                    Employees <i class="fas fa-users"></i>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="text-decoration-none text-dark" href="{% url 'products' %}">
                                            <div class="card my-card shadow text-center p-3">
                                                <h4>
                                                    Inventory <i class="fas fa-box"></i>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="text-decoration-none text-dark" href="{% url 'metadata' %}">
                                            <div class="card my-card shadow text-center p-3">
                                                <h4>Reports <i class="fas fa-shipping-fast"></i></h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Right Top Side-->
  
        </div>
    </div>
    <!--End Top Side-->
    <!--Table-->
    
        
            <div class="container">
                <div class="row my-4">
                    <div class="col-md-10">
                        <table class="table bg-white">
                            <thead class="bg-primary">
                                <tr class="text-white">
                                    <th scope="col">Number</th>
                                    <th scope="col">Device Name</th>
                                    <th scope="col">Channel Id</th>
                                    <th scope="col">Firmware Version</th>
                                    {% for field_name in field_names %}
                                        <th scope="col">{{ field_name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for device_data in device_info % }
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ device_data.device_name }}</td>
                                        <td>{{ device_data.channel_id }}</td>
                                        <td>{{ device_data.firmware_version }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock%}