<!DOCTYPE html>
<html>
<head>
    <title>Device List</title>
</head>
<body>
    <h1>Device List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Channel ID</th>
                <th>Firmware Version</th>
                <!-- Add table headers for fields -->
                {% for field_name in fields_to_display %}
                    <th>{{ field_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Loop through device_data and display device and field values -->
            {% for device in device_data %}
                <tr>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.channel_id }}</td>
                    <td>{{ device.firmware_version }}</td>
                    <!-- Loop through fields_to_display and display values -->
                    {% for field_name in fields_to_display %}
                        <td>{{ device[field_name] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
