<!DOCTYPE html>
<html>
<head>
    <title>Device List</title>
</head>
<body>
    <h1>Device List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Channel ID</th>
                <th>Firmware Version</th>
                <!-- Add table headers for fields -->
                {% for device in device_data %}
                    {% for field_name, _ in device.items %}
                        {% if field_name not in ['device_name', 'channel_id', 'firmware_version'] %}
                            <th>{{ field_name }}</th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Loop through device_data and display device and field values -->
            {% for device in device_data %}
                <tr>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.channel_id }}</td>
                    <td>{{ device.firmware_version }}</td>
                    <!-- Loop through fields and display values -->
                    {% for field_name, field_value in device.items %}
                        {% if field_name not in ['device_name', 'channel_id', 'firmware_version'] %}
                            <td>{{ field_value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
